name: Check

on:
  push:
    branches:
      - "**"
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 1"

jobs:
  Install:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run init.sh
        shell: bash
        run: |
          set -euo pipefail
          chmod +x ./init.sh
          ./init.sh
