name: Check

on:
  push:
    branches:
      - "**"
    workflow_dispatch:
    schedule:
      - cron: "0 3 * * 1"

jobs:
  install:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run install.sh
        shell: bash
        run: |
          set -euo pipefail
          chmod +x ./install.sh
          ./install.sh
